@media print {
    @page {
        size: A4 portrait;
        margin: 5mm;
        background: white;
        marks: none;
        
    }
    @page :footer {
        display: none
    }
    @page :header {
        display: none
    }
    .site-header, .site-footer, .navigation, hr, #nav {
        display: none !important;
    }
    body {
        font-family: 'Calibri', sans-serif;
        font-size: 1rem;
        line-height: 1.4;
        color: #000000;
        margin: 0;
        padding: 0;
        margin-top: -20mm !important;
        background: #fff !important;
        text-rendering: optimizeLegibility;
    }
    ul, li {
        line-height: 1.2;
    }
    h2, h1, h3, h4, h5 {
        break-before: auto;
        break-inside: avoid !important;
        break-after: avoid !important;   
    }
    ul, li, p, em {
        break-before: avoid !important;
        break-inside: avoid !important;
        break-after: auto;
    }
}